html, body {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
  overflow-x: hidden;
}
#main {
  height: auto;
}
#center_col {
  position: absolute;
  width: 100% !important;
  margin: 0px !important;
  left: 0px;
  top: 50px;
  z-index: 99;
  padding: 0px 0.2% 0px 0.8%;
  overflow: auto;
}
.titleicons {
  width: 160px;
  padding: 0px;
  margin: auto;
}
.pure .titleicons {
  background-color: #8BD0F1;
}
.preview {
  display: none !important;
}
input[type="submit"] {
  width: 100%!important;
}
#left_col, #right_col {
  overflow: auto;
  display: none;
  z-index: 100;
  position: fixed;
  top: 45px; 
  width:70% !important;
}
#gotopm {
  padding-left: 15px !important; 
  padding-right: 15px !important;
}
.element-divider {
  display:none !important;
}
.navigation-bar-content .place-right {
  float: left !important;
}
#right_col {
  right: 0px;
}
#left_col {
  left: 0px;
}
#title_left, #title_right {
  cursor: pointer;
}
#notify_list {
  position: fixed;
  width:100% !important;
  top: 50px;
  left: 0px;
  height: auto;
  font-size: 120%;
  z-index: 1001;
}
.notify {
  text-align: left;
 }
#notifycounter {
  cursor: pointer;
}
#site_title {
  position: fixed !important;
  top:0px;
  left:0px;
  width: 100%;
  z-index: 1001;
}
#content {
  margin-top: 50px;
}
#form {
  position: absolute;
  top: 0px;
  right: 55%;
}
#inbox {
  position: absolute;
  top: 0px;
  left: 55%;
}
#prefbar {
  height: auto !important;
}
.sidebar {
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 50px;
  height:100%;
}
.sidebar * {
  max-width: 99%;
}
.commentlist {
  width:100% !important;
}
#mobile-advice {
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 60px;
  padding-top: 20px;
  z-index: 1000;
  text-align: center;
  background-color: black;
  font-size: 20px;
  color: white;
}
#mobile-advice i.icon-cancel {
  cursor: pointer;
  float: right;
  margin-top: -20px;
}
